<section id="viewCatalog" class="background-img">
  <div class="added-hotels">
    <div class="guest">
      <h2 class="text-center">404</h2>
      <h4 class="text-center">This is not the page you are looking for</h4>
    </div>
  </div>
</section>